<form action="/produtos/novo" method="post">
    <input type="text" name="nome" placeholder="Nome do Produto" required>
    <input type="number" step="0.01" name="preco" placeholder="Preço" required>
    <input type="number" name="estoque" placeholder="Estoque" required>
    
    <select name="categoria_id" required>
        <option value="">Selecione uma Categoria</option>
        {% for cat in categorias %}
            <option value="{{ cat.id }}">{{ cat.nome }}</option>
        {% endfor %}
    </select>
    
    <button type="submit">Cadastrar Produto</button>
</form>

<hr>

<table>
    <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Preço</th>
        <th>Estoque</th>
        <th>Categoria</th>
    </tr>
    {% for p in produtos %}
    <tr>
        <td>{{ p.id }}</td>
        <td>{{ p.nome }}</td>
        <td>R$ {{ p.preco }}</td>
        <td>{{ p.estoque }}</td>
        <td>{{ p.categoria.nome }}</td> </tr>
    {% endfor %}
</table>